In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/orkvacy/dummy-data/refs/heads/main/dummyData.csv"

df = pd.read_csv(url)
df.head()

,entity_id,pendapatan,pengeluaran,jml_anggota_keluarga,biaya_rent_tempat_tinggal,total_pendapatan_tahunan,tingkat_pendidikan,jumlah_pekerja_di_keluarga,kota
0,1,55000.0,9500.0,2.0,2375,580500.0,Diploma (D3),1.0,Bekasi Kota
1,2,99500.0,12000.0,4.0,7153,1116000.0,Master (S2),1.0,Tangerang
2,3,94500.0,15000.0,6.0,11752,1024000.0,Doktor (S3),1.0,Tangerang
3,4,86500.0,12000.0,1.0,0,1058500.0,Doktor (S3),1.0,Bekasi Kota
4,5,70500.0,8000.0,4.0,0,1003000.0,Master (S2),4.0,Tangerang